<div class="similar-list">
    <div class="bg-secondary text-white p-1">
        Схожие обращения
    </div>
    <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    У меня не звонит skype...
                    <br />
                    <div class="badge badge-secondary">тарифные планы</div>
                    <div class="badge badge-secondary">тарифные опции</div>
                    <div class="badge badge-secondary">жалобы</div>
                    
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                        <div class="card text-white bg-primary mb-3 float-left" style="max-width: 18rem;">
                            <div class="card-body">
                                    <div class="float-right">
                                            <div class="badge badge-success">12-12-2018 20:20:15</div>
                                        </div> 
                                <span class="card-text-title">Клиент:</span>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="card text-white bg-success mb-3 float-right" style="max-width: 18rem;">
                            <div class="card-body">
                                    <div class="float-left">
                                        <div class="badge badge-primary"><strong><a class="bdg" href="javascript:void(0)">+</a></strong></div>
                                        <div class="badge badge-danger"><strong><a class="bdg" href="javascript:void(0)">-</a></strong></div>
                                    </div>
                                    <div class="float-left">
                                            <div class="badge badge-primary">12-12-2018 20:20:15</div>
                                        </div>
                                <span class="card-text-title float-right">Оператор:</span>
                                <p class="card-text float-right">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Плохое качество звонков
                <br />
                    <div class="badge badge-secondary">тарифные планы</div>
                    <div class="badge badge-secondary">тарифные опции</div>
                    <div class="badge badge-secondary">жалобы</div>
                    <div class="badge badge-secondary">качество обслуживания</div>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                        <div class="card text-white bg-primary mb-3 float-left" style="max-width: 18rem;">
                            <div class="card-body">
                                    <div class="float-right">
                                            <div class="badge badge-success">12-12-2018 20:20:15</div>
                                        </div> 
                                <span class="card-text-title">Клиент:</span>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="card text-white bg-success mb-3 float-right" style="max-width: 18rem;">
                            <div class="card-body">
                                    <div class="float-left">
                                        <div class="badge badge-primary"><strong><a class="bdg" href="javascript:void(0)">+</a></strong></div>
                                        <div class="badge badge-danger"><strong><a class="bdg" href="javascript:void(0)">-</a></strong></div>
                                    </div>
                                    <div class="float-left">
                                            <div class="badge badge-primary">12-12-2018 20:20:15</div>
                                        </div>
                                <span class="card-text-title float-right">Оператор:</span>
                                <p class="card-text float-right">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Долго уходит смс
                <br />
                    <div class="badge badge-secondary">тарифные планы</div>
                    <div class="badge badge-secondary">тарифные опции</div>
                    <div class="badge badge-secondary">жалобы</div>
                    <div class="badge badge-secondary">интернет</div>
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <div class="card text-white bg-primary mb-3 float-left" style="max-width: 18rem;">
                        <div class="card-body">
                                <div class="float-right">
                                        <div class="badge badge-success">12-12-2018 20:20:15</div>
                                    </div> 
                            <span class="card-text-title">Клиент:</span>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card text-white bg-success mb-3 float-right" style="max-width: 18rem;">
                        <div class="card-body">
                                <div class="float-left">
                                    <div class="badge badge-primary"><strong><a class="bdg" href="javascript:void(0)">+</a></strong></div>
                                    <div class="badge badge-danger"><strong><a class="bdg" href="javascript:void(0)">-</a></strong></div>
                                </div>
                                <div class="float-left">
                                        <div class="badge badge-primary">12-12-2018 20:20:15</div>
                                    </div>
                            <span class="card-text-title float-right">Оператор:</span>
                            <p class="card-text float-right">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
          </div>
        </div>
      </div>
    
</div>