<div class="similar-list">
    <div class="bg-secondary text-white p-1">
        История пользователя
    </div>
    <div id="accordion1">
            <div class="card">
              <div class="card-header" id="headingFor">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFor" aria-expanded="true" aria-controls="collapseFor">
                        У меня не звонит skype...
                        <br />
                        <div class="badge badge-secondary">тарифные планы</div>
                        <div class="badge badge-secondary">тарифные опции</div>
                        <div class="badge badge-secondary">жалобы</div>
                        
                  </button>
                </h5>
              </div>
          
              <div id="collapseFor" class="collapse show" aria-labelledby="headingFor" data-parent="#accordion1">
                    <div class="card-body">
                            <div class="card text-white bg-primary mb-3 float-left" style="max-width: 18rem;">
                                <div class="card-body">
                                        <div class="float-right">
                                                <div class="badge badge-success">12-12-2018 20:20:15</div>
                                            </div> 
                                    <span class="card-text-title">Иван Иванов:</span>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card text-white bg-success mb-3 float-right" style="max-width: 18rem;">
                                <div class="card-body">
                                        <div class="float-left">
                                            <div class="badge badge-primary"><strong><a class="bdg" href="javascript:void(0)">+</a></strong></div>
                                            <div class="badge badge-danger"><strong><a class="bdg" href="javascript:void(0)">-</a></strong></div>
                                        </div>
                                        <div class="float-left">
                                                <div class="badge badge-primary">12-12-2018 20:20:15</div>
                                            </div>
                                    <span class="card-text-title float-right">Оператор:</span>
                                    <p class="card-text float-right">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
              </div>
            </div>
            </div>
</div>