/* You can add global styles to this file, and also import other style files */
.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.similar-list {
    overflow-y: auto;
    /* height: 300px; */
    /* bottom: 0px; */
    height: 100%;
}

.similar-list .card-text {
    font-size: 12px;
}

.card-body {
    padding: 0.25rem;

}

.similar-list .card-text-title {
    font-size: 12px;
}

.card-header {
    padding: 0rem 0rem;
}

.card {
    border-radius: 0rem;
}

.badge {
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 2px;
    float: left;
}

.bdg {
    color: #ffffff;
    text-decoration: none;
}

/* merge */
.merge-dialog .card-body {
    padding: 0.5rem;
}

.merge-dialog .accordion {
    height: 300px;
    overflow: auto;
    font-size: 12px;
}

.merge-dialog .merge-dialog-column {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    height: 300px;
}

/* ------ */

.delmit {
    width: 100%;
    display: inline-block;
    margin-bottom: -100px;
    margin-top: -100px;
    height: 100px;
}

.messages-scrollable {
    overflow-y: auto;
}

#chart_div {
    position: absolute;
    right: 0px;
    top: 0px;
}

.modal-dialog {
    max-width: 800px;
}
