<div class="modal-header">
    <h4 class="modal-title">Настройки</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light btn-sm" (click)="modal.dismiss()">Сохранить и закрыть</button>
</div>