<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Склеить</h4>
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="mergeCategory"
        style="margin: auto;">
        <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="author"> Автор
        </label>
        <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="dialog"> Диалог
        </label>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body merge-dialog">
    <div class="p-3 mb-2 bg-danger text-white" *ngIf="errorMessage">
        {{ errorMessage }}.
    </div>

    <form [formGroup]="mergeForm">

        <div class="messages-input" style="margin-bottom:10px;">
            <input type="search" class="form-control" placeholder="Найти">
        </div>

        <!-- AUTHORS to merge -->
        <div class="merge-dialog-column" *ngIf="mergeCategory == 'author'">
            <div class="form-group">
                <select class="form-control" formControlName="userId" multiple="multiple"
                    [ngClass]="{ 'is-invalid': mergeForm.controls['userId'].invalid }"
                    style="height:300px;">
                    <option *ngFor="let user of users" [ngValue]="user.id">{{user.name}}</option>
                </select>
                <!-- <div class="text-danger small" *ngIf="mergeForm.controls['userId'].invalid">Required</div> -->
            </div>
        </div>

        <!-- DIALOGS to merge class="merge-dialog-column" -->
        <div *ngIf="mergeCategory == 'dialog'">
            <div class="form-group">
                <!-- <select class="form-control" formControlName="userId" multiple="multiple"
                    [ngClass]="{ 'is-invalid': mergeForm.controls['userId'].invalid }"
                    style="height:300px;">
                    <option *ngFor="let user of users" [ngValue]="user.id">DIALOG: {{user.name}}</option>
                </select> -->
                <!-- <div class="text-danger small" *ngIf="mergeForm.controls['userId'].invalid">Required</div> -->
                <div id="accordion-merge-1" class="accordion">
                    <div class="card">
                        <div class="card-header" id="headingFor">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-merge-1" aria-expanded="true" aria-controls="collapse-merge-1">
                                Плохое качество звонков
                                <br />
                                <div class="badge badge-secondary">тарифные планы</div>
                                <div class="badge badge-secondary">тарифные опции</div>
                                <div class="badge badge-secondary">жалобы</div>
                                <div class="badge badge-secondary">качество обслуживания</div>
                            </button>
                        </h5>
                        </div>
                
                        <div id="collapse-merge-1" class="collapse show" aria-labelledby="headingFor" data-parent="#accordion-merge-1">
                            <div class="card-body">
                                <div class="card text-white bg-primary mb-3 float-left" style="max-width: 18rem;">
                                    <div class="card-body">
                                        
                                        <span class="card-text-title">Петр Петров:</span>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                                <div class="card text-white bg-success mb-3 float-right" style="max-width: 18rem;">
                                    <div class="card-body">
                                        <!-- <div class="float-left">
                                            <div class="badge badge-primary"><strong><a class="bdg" href="javascript:void(0)">+</a></strong></div>
                                            <div class="badge badge-danger"><strong><a class="bdg" href="javascript:void(0)">-</a></strong></div>
                                        </div> -->
                                        <span class="card-text-title float-right">Алексей Мегафон:</span>
                                        <p class="card-text float-right">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFor">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-merge-2" aria-expanded="true" aria-controls="collapse-merge-2">
                                У меня не звонит skype...
                                <br />
                                <div class="badge badge-secondary">тарифные планы</div>
                                <div class="badge badge-secondary">тарифные опции</div>
                                <div class="badge badge-secondary">жалобы</div>
                            </button>
                        </h5>
                        </div>
                
                        <div id="collapse-merge-2" class="collapse show" aria-labelledby="headingFor" data-parent="#accordion-merge-1">
                            <div class="card-body">
                                <div class="card text-white bg-primary mb-3 float-left" style="max-width: 18rem;">
                                    <div class="card-body">
                                        
                                        <span class="card-text-title">Иван Иванов:</span>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                                <div class="card text-white bg-success mb-3 float-right" style="max-width: 18rem;">
                                    <div class="card-body">
                                        <!-- <div class="float-left">
                                            <div class="badge badge-primary"><strong><a class="bdg" href="javascript:void(0)">+</a></strong></div>
                                            <div class="badge badge-danger"><strong><a class="bdg" href="javascript:void(0)">-</a></strong></div>
                                        </div> -->
                                        <span class="card-text-title float-right">Алексей Мегафон:</span>
                                        <p class="card-text float-right">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>

        <!-- CURRENT dialog -->
        <div class="merge-dialog-column" *ngIf="mergeCategory == 'author'">
            <div class="card-body">
                <div *ngFor="let msg of current_messages">
                    <div class="card text-white bg-primary mb-3" [ngClass]="{ 'float-left' : msg.isClient, 'float-right' : !msg.isClient, 'bg-success': !msg.isClient }" style="max-width: 18rem;">
                        <div class="card-body">
                            <span class="card-text-title">{{msg.author}}:</span>
                            <p class="card-text">{{msg.text}}</p>
                        </div>
                    </div>
                    <div class="delmit"></div>
                </div>
            </div>
        </div>

        <!-- <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" placeholder="Enter meal name"
                formControlName="name" maxlength="255"
                [ngClass]="{ 'is-invalid': mealForm.controls['name'].invalid }" />
            <div class="text-danger small" *ngIf="mealForm.controls['name'].invalid">Required field</div>
        </div>
    
        <div class="form-group" [hidden]="!isAdministrator()">
            <label>User:</label>
            <select class="form-control" formControlName="userId"
                [ngClass]="{ 'is-invalid': mealForm.controls['userId'].invalid }">
                <option *ngFor="let user of users" [ngValue]="user.id">{{user.username}}</option>
            </select>
            <div class="text-danger small" *ngIf="mealForm.controls['userId'].invalid">Required</div>
        </div>

        <div class="form-group">
            <label>Date:</label>
            <input type="text" class="form-control" placeholder="yyyy-mm-dd" 
                formControlName="date" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"
                [ngClass]="{ 'is-invalid': mealForm.controls['date'].invalid }" />
            <div class="text-danger small" *ngIf="mealForm.controls['date'].invalid">Valid date required</div>
        </div>    

        <div class="form-group">
            <label>Time:</label>
            <div class="input-group">
                <input type="number" min="0" max="23" class="form-control"
                    formControlName="hours" style="max-width: 80px;"
                    [ngClass]="{ 'is-invalid': mealForm.controls['hours'].invalid || mealForm.controls['minutes'].invalid }" />
                <input type="number" min="0" max="59" class="form-control"
                    formControlName="minutes" style="max-width: 80px;"
                    [ngClass]="{ 'is-invalid': mealForm.controls['hours'].invalid || mealForm.controls['minutes'].invalid }" />
            </div>
            <div class="text-danger small" *ngIf="mealForm.controls['hours'].invalid || mealForm.controls['minutes'].invalid">Valid time required</div>
        </div>

        <div class="form-group">
            <label>Calories amount:</label>
            <input type="number" class="form-control" placeholder="Enter calories amount"
                formControlName="calories" min="1" maxlength="255"
                [ngClass]="{ 'is-invalid': mealForm.controls['calories'].invalid }" />
            <div class="text-danger small" *ngIf="mealForm.controls['calories'].invalid">Greater than zero</div>
        </div> -->
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm" (click)="createMeal()" *ngIf="isCreating()" [disabled]="!mergeForm.valid">Склеить</button>
    <!-- <button type="button" class="btn btn-primary btn-sm" (click)="updateMeal()" *ngIf="!isCreating()" [disabled]="!mergeForm.valid">Update Meal</button> -->
    <button type="button" class="btn btn-light btn-sm" (click)="modal.dismiss()">Cancel</button>
</div>
