.login-view { 
    position: fixed;
    background-color: white;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
    width: 400px;
}
