<div class="login-view">
    <div class="card login-form">
        <div class="card-body">
            <h5 class="card-title">Авторизация</h5>

            <form (ngSubmit)="onSubmit()" [formGroup]="signInForm">
                <div class="form-group">
                    <label>Пользователь:</label>
                    <input type="text" class="form-control" placeholder="Имя пользователя"
                        formControlName="username" maxlength="50"
                        [ngClass]="{ 'is-invalid': !signInForm.controls['username'].valid }" />
                </div>
            
                <div class="form-group">
                    <label>Пароль:</label>
                    <input type="password" class="form-control" placeholder="Введите пароль"
                        formControlName="password" maxlength="50"
                        [ngClass]="{ 'is-invalid': !signInForm.controls['password'].valid }" />
                </div>
    
                <button type="submit" class="btn btn-primary mr-1" [disabled]="!signInForm.valid">Вход</button>
            </form>  
        </div>
    </div>
</div>