<div class="messages">
    <div class="bg-secondary text-white p-1">
        Диалог
    </div>
    <div class="messages-who bg-primary text-white" *ngIf="conversation">
        <div class="row">
            <div class="col-6">{{conversation.clientName}}</div>
            <div class="col-6 text-right">
                <a href="javascript: void(0)" class="text-white mr-3">Тэги</a>
                <a href="javascript: void(0)" class="text-white mr-3">Закрыть беседу</a>
                <a href="javascript: void(0)" class="text-white mr-1" (click)="merge()">Склеить</a>
            </div>
        </div>
    </div>
    
    <div class="messages-scrollable">
        <div *ngFor="let m of messages">
            <div
                class="card text-white mb-3"
                style="max-width: 18rem;"
                [ngClass]="{ 'float-left': m.clientId !== 188, 'bg-success': m.clientId !== 188, 'float-right': m.clientId === 188, 'bg-primary': m.clientId === 188 }">
                <div class="card-body">    
                    <div class="float-right">
                        <div class="badge"
                            [ngClass]="{ 'bg-success': m.clientId !== 188, 'bg-primary': m.clientId === 188 }">
                            {{m.timeString}}
                        </div>
                    </div>
                    <br/>
                    <span class="card-text-title">{{m.clientName}}:</span>
                    <p class="card-text">{{m.text}}</p>
                </div>
            </div>
            <div class="delmit"></div>
        </div>
        <!--
            <div class="card text-white bg-primary mb-3 float-left" style="max-width: 18rem;">
                <div class="card-body">    
                    <div class="float-right">
                        <div class="badge badge-success">12-12-2018 20:20:15</div>
                    </div>
                    <span class="card-text-title">Иван Иванов:</span>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="delmit"></div>
            <div class="card text-white bg-success mb-3 float-right" style="max-width: 18rem;">
                <div class="card-body">
                    <div class="float-left">
                        <div class="badge badge-primary">12-12-2018 20:20:15</div>
                    </div>
                    <span class="card-text-title float-right">Оператор:</span>
                    <p class="card-text float-right">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="delmit"></div>
            <div class="card text-white bg-primary mb-3 float-left" style="max-width: 18rem;">
                    <div class="card-body"> 
                        <div class="float-right">
                            <div class="badge badge-success">12-12-2018 20:20:15</div>
                        </div>   
                        <span class="card-text-title">Иван Иванов:</span>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="delmit"></div>
                <div class="card text-white bg-success mb-3 float-right" style="max-width: 18rem;">
                    <div class="card-body">
                            <div class="float-left">
                                    <div class="badge badge-primary">12-12-2018 20:20:15</div>
                                </div>
                        <span class="card-text-title float-right">Оператор:</span>
                        <p class="card-text float-right">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
        -->
    </div>

    <form [formGroup]="sendVkForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <div class="messages-input">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Введите текст ответа" formControlName="messageText" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Ответить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>