.messages-who {
    padding: 5px;
    background-color: #5bd9e5;
    color: white;
}

.messages-scrollable {
    position: absolute;
    top: 68px;
    bottom: 48px;
    left: 0;
    right: 0;   
    padding-left: 5px;
    padding-right: 5px;
}

.messages-input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
}