<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <img src="assets/logo-green.svg" width="200px" style="padding-right:20px;"/>

        <a class="navbar-brand" href="#">АРМ</a>

        <ul class="navbar-nav mr-auto w-100">
            <li class="nav-item">
                <a class="nav-link">Настройки</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link" (click)="signOut()">Выход</a>
            </li>
        </ul>
        <div id="chart_div" style=" height: 60px;"></div>
    </nav>

    <div class="main-view">
        <div class="request-list-container">
            <request-list-component [items]="conversations" (selected)="onConversationSelected($event)"></request-list-component>
        </div>
        
        <div class="messages-container">
            <messages-component [conversation]="activeConversation"></messages-component>
        </div>

        <div class="similar-list-container">
            <similar-list-component></similar-list-component>
        </div>

        <div class="history-list-container">
            <history-list-component></history-list-component>
        </div>
    </div>
</div>