.main-view {
    position: fixed;
    left: 0;
    top: 56px;
    right: 0;
    bottom: 0;
}

.main-view .request-list-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25%;
    border-right: 1px solid #ece9e9;
}

.main-view .messages-container {
    position: absolute;
    left: 25%;
    top: 0;
    bottom: 0;
    width: 50%;
}

.main-view .similar-list-container {
    position: absolute;
    left: 75%;
    top: 0;
    bottom: 50%;
    width: 25%;
    border-left: 1px solid #ece9e9;
}

.main-view .history-list-container {
    position: absolute;
    left: 75%;
    top: 50%;
    bottom: 0;
    width: 25%;
    border-left: 1px solid #ece9e9;
}
