<div class="request-list">
    <div class="bg-secondary text-white p-1">
        Обращения
    </div>
    <div class="request-list-scrollable">
        <div class="request-list-item" *ngFor="let item of items" style="cursor: pointer;" (click)="onSelected(item)">
            <div class="request-list-item-text">
                {{item.text}}
            </div>
            <div class="request-list-item-params">
                <div>{{item.clientName}}</div>
            </div>
        </div>
    </div>
</div>