.request-list-scrollable {
    overflow-y: auto;
    overflow-x: hidden;

    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    bottom: 0;
}

.request-list-item {
    border-bottom: 1px solid #eaeaea;
    background-color: #fafafa;
    padding: 5px;    
}

.request-list-item-text {
    max-height: 40px;
    overflow-y: hidden;
}